

.topo{
    background-color: var(--color-azul-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    font-family: var(--font-bold);
    font-size: 3rem;  
}

.topo__marca {
   
    color: var(--color-preto); 
    
}

.topo__titulo {

    color: var(--color-azul-escuro); 
    padding-left: 8xp;
}

/* FOOTER */ 

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 1rem;
    gap: 104px;
    background-color: var(--color-azul-claro);
    height: 144px;
}


.rodape__icones{
    font-size: 1.25rem;
}

.cards-area {
    display: flex; 
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap; /*quebrar cards-area__s*/
}

.card-area__card {
    display: flex;
    flex-direction: column;
    width: 352px;
    justify-content: center;
    align-items: center;
    padding: 128px 24px;
    border-radius: 35px;
    gap: 36px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 32px 0px rgba(0,0,0, 0.25);

}

.card-area__img {
    width: 60%;
    min-width: 160px;
}

.card-area__botao-adicionar{
    color: var(--color-azul-escuro);
    font-size: 2rem;
    cursor: pointer;
    margin-top: -56px;
}

.card-area__botao-adicionar:hover {
    color: var(--color-azul-mt-escuro)
}

.card-area__preco {
    font-size: 1.5rem;
    font-family: var(--font-light);
    padding-top: 8px;
}

.card-area__titulo {
    font-size: 2rem;
    font-family: var(--font-bold);
}

.card-area__descricao{
        text-align: center;
        font-size: 1rem;
        font-family: var(--font-regular);
        line-height: 24px;
}

.modal{
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 64px 24px;
    border-radius: 35px;
    width: 816px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
 
 
 
}
 
.modal__img img{
 
    width: 100%;
 
}
 
.modal__titulo{
 
    font-size: 2rem;
    font-family: var(--font-bold);
 
}
 
.modal__detalhes{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
 
}
 
.modal_descricao{
 
    font-size: 1rem;
    font-family: var(--font-Regular);
    gap: 16px;
 
}
 
.modal__tamanho-area{
 
    width: fit-content;
    border-radius: 35px;
    background-color: var(--color-cinza-claro);
    overflow: hidden;
 
}
 
.modal__tamanho-area button{
 
    padding: 16px 8px;
 
}
 
.modal__tamanho-area button:hover{
 
    background-color: var(--color-azul-mt-escuro);
}

    .carrinho {
        background-color: var(--color-azul-claro);
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        align-items: center;
        width: 504px;
        height: 1016px;
        border-radius: 35px;
        padding: 30px;
        gap: 40px;   
    }
     
    .titulo__carrinho{
        justify-content: left;
        font-size: 2rem;
        font-family: var(--font-bold);
    }
     
    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 72px;
        gap: 10px;
        padding: 20px;
     
    }
     
    .carrinho__img{
     
        width: 20%;
        padding: 20px;
    }
     
    .carrinho__controle-unidade{
        border-radius: 16px;
        background-color: var(--color-cinza-claro);
        font-size: 1rem;
        overflow: hidden;
    }
    .carrinho__controle-unidade button{
        padding: 16px 20px;
    }
    .carrinho__controle-unidade button:hover{
        background-color: var(--color-cinza-escuro);
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    );
 
}
 
.modal__texto{
 
    font-size: 1rem;
    text-transform: uppercase;
 
 
}
 
 
.modal__texto--negrito{
 
    font-family: var(--font-bold);
 
 
}
 
.modal__peso{
 
    color: var(--color-cinza-escuro);
 
}
 
.modal__preco-area{
 
    display: flex;
    align-items: center;
    width: max-content;
    
}
 
 
.modal__controle-de-quantidade{
 
    padding: 1px 1px;
    background-color: var(--color-cinza-claro);
    font-size: 1.25rem;
    overflow: hidden;
    border-radius: 32px
    
 
}
 
.modal__controle-de-quantidade button{
 
    padding: 16px 20px;
 
}
 
.modal__controle-de-quantidade button:hover{
 
    background-color: var(--color-cinza-escuro);
 
}
 
.modal__valor{
 
    font-size: 1.5rem;
 
}